{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GENUS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <nav class="nav-uol">
                <img src="{% static 'assets/imgs/Logo-UOL.png' %}" alt="Logo-UOL">
            </nav>
            <nav class="nav-jc">
                <a href="{% url 'jornal:index' %}"><img src="{% static 'assets/imgs/Logo-JC.png' %}" alt="Logo-JC"></a>
                <a href="{% url 'jornal:index' %}"><i><img src="{% static 'assets/icons/backarrow.png' %}" alt="Voltar"></i></a>
            </nav>
        </div>
    </header>
    <main>
        <form class="div-container" method="POST">
            {% csrf_token %}

            {% if messages %}
                <ul class="messages" style="color: red; text-align: center; list-style: none; padding: 0; margin-bottom: 15px;">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <section class="login-input">
                <input type="email" placeholder="Email" name="email" required>
                <i><img src="{% static 'assets/icons/mail.png' %}" alt="Email"></i>
            </section>
            
            <section class="login-input">
                <input type="password" placeholder="Senha" name="password" required>
                <i><img src="{% static 'assets/icons/pencil.png' %}" alt="Senha"></i>
            </section>
            
            <section class="login-input">
                <input type="password" placeholder="Confirmar senha" name="password2" required>
                <i><img src="{% static 'assets/icons/padlock.png' %}" alt="Confirmar"></i>
            </section>
            
            <section class="login-with">
                <a href="#"><img src="{% static 'assets/icons/Icon-google.png' %}" alt="Google"></a>
                <a href="#"><img src="{% static 'assets/icons/Icon-facebook.png' %}" alt="Facebook"></a>
            </section>

            <button type="submit">Criar Conta</button>
        </form>
    </main>
    <script src="{% static 'scripts/register.js' %}"></script>
</body>
</html>