{% extends 'layout.html' %}
{% load static %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/admin_secreto.css' %}">
{% endblock %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}
<div class="admin-container">
    <h1 class="admin-titulo">Confirmar Exclusão</h1>
    
    <p class="confirm-text">
        Você tem certeza que deseja apagar permanentemente a notícia:
        <br>
        <strong>"{{ noticia.titulo }}"</strong>?
    </p>

    <form method="post" class="form-delete">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, apagar</button>
        <a href="{% url 'jornal:admin_secreto_lista' %}" class="btn btn-secondary">Cancelar</a>
    </form>

</div>
{% endblock %}