.all-feedback-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 28px;
    border: 1px solid #C7C7C7;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.feedback-title {
  font-size: 32px;
  text-align: center;
  flex-wrap: wrap;
  color: black;
}

/* Estrelas */

.star {
  font-size: 40px;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  color: #ccc;
}

.star:hover {
  transform: scale(1.2);
}

.star.selected {
  color: gold;
}

/* Caixa de comentário */
.feedback-textarea {
  width: 100%;
  height: 110px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  resize: none;
  font-size: 15px;
  outline: none;
  transition: border-color 0.2s ease;
}

.feedback-textarea:focus {
  outline: none;
}

/* Botão */
.feedback-button {
  width: 100%;
  margin-top: 15px;
  padding: 12px 0;
  background: none; 
  border: 2px solid #C7C7C7;
  color: #7B7B7B;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.feedback-button:hover {
  transform: scale(1.02);
}

.feedback-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.interrogation-img {
    max-width: 100%;
    max-height: 128px;

}

@media screen and (min-width: 700px) {
    .feedback-container {
        width: 26rem;
}
}
