/* Navbar */

.Uol-nav {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Uol-nav > img {
    max-height: 50px;
}

.Jc-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Jc-nav-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Jc-image{
    max-height: 64px;
}

.Jc-nav > div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.navbutton {
    width: 38px;
    height: 38px;
    background: none;
    border: none;
}

.navbutton img {
    width: 100%;
    height: 100%;
}

.navlink {
    width: auto;
    height: 38px;
}

.navlink > img {
    width: 38px;
    height: 38px;
}

.redondo {
    border-radius: 100%;
    width: 38px;
    height: 38px;
}

.cacto {
    padding: 0px 4px;
    width: 100px; 
    height: 100px;
}


/* Sidebar */

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0);
    opacity: 0;

    display: flex;
    justify-content: flex-end;
    z-index: 1000;

    transition: opacity .3s ease, background .3s ease;
    pointer-events: none;
}

.sidebar-overlay.open {
    background: rgba(0,0,0,0.5);
    opacity: 1;
    pointer-events: auto;
}

.sidebar {
    width: 280px;
    height: 100vh;
    background: white;
    padding: 20px;

    transform: translateX(100%);
    transition: transform .3s ease;

    overflow-y: auto;
}

.sidebar.open {
    transform: translateX(0);
}

.close-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-left: auto;
    display: block;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.sidebar ul li a:hover {
    color: #000;
}

/* Searchbar */

.search-overlay {
    position: fixed;
    top: 118px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 130px);
    
    background: rgba(0,0,0,0);
    opacity: 0;
    pointer-events: none;

    transition: opacity .3s ease, background .3s ease;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    z-index: 900;
}

.search-overlay.open {
    opacity: 1;
    background: rgba(0,0,0,0.5);
    pointer-events: auto;
}

.search-bar {
    width: 100vw;
    background: white;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;    

    transform: translateY(-25%);
    transition: transform .35s ease;
}

.search-bar.open {
    transform: translateY(0);
}

.search-input {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 30px;
}

.search-input > input{
    width: 80vw;
    height: 40px;
    border: none;
    background: none;
    padding-left: 4px;
}

.search-input > input:focus {
    outline: none;
}

.search-input > img{
    width: 30px;
    opacity: 48%;
}

/* Menu */

.main-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #AC0000;
}

.categorias {
    display: flex;
}

/* seta */
.categorias img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.categorias img.rotated {
    transform: rotate(180deg);
}

/* menu secundário */
.secundary-menu-list {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.secundary-menu-list.open {
    max-height: 1000px;
    
}
