.back-arrow {
    margin: 32px 0px 0px 32px;
    cursor: pointer;
}

.user-name-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 24px;
}

.user-name-photo > img {
    border-radius: 100%;
    max-width: 128px;
}