{% extends 'layout.html' %}
{% load static %}
{% block title %}Minha Árvore{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/gamificacao.css' %}">
    <a href="#" onclick="window.history.back()" class="arrow-back-link">
        <i><img src="{% static 'assets/icons/arrowback-2.png' %}" alt="Voltar"></i>
    </a>
    
    <div class="gamificacao-info">
        <img src="{% static 'assets/imgs/Arvore-3.png' %}" alt="arvore">
        <h1>Árvore</h1>
        <section class="gamificacao-statistics">
            <p>Dias consecutivos</p>
            <div>
                <h2>{{ sequencia }}</h2>
                <hr>
            </div>
            <p>Dias para o Próximo visual</p>
            <div>
                <h2>{{ dias_restantes }}</h2>
                <hr>
            </div>
            <p>Status</p>
            <div>
                <h2>{% if sequencia > 0 %}Crescendo{% else %}Parada{% endif %}</h2>
                <hr>
            </div>
        </section>
    </div>
{% endblock %}