
{% extends 'layout.html' %}
{% load static %}
{% block title %}
    {% if query %}
        Resultados para: {{ query }}
    {% else %}
        Jornal do Commércio
    {% endif %}
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <h1 class="title">| Relevantes</h1>
    <div class="container">
      <button class="arrow-left control" aria-label="Previous image">◀</button>
      <button class="arrow-right control" aria-label="Next Image">▶</button>
      <div class="gallery-wrapper">
        <div class="gallery">
            <div class="item current-item">
                <div class="overlay-img active">Titulo da noticia</div>
                <img src="" alt="img-noticia">
            </div>
            <div class="item">
                <div class="overlay-img">Titulo da noticia</div>
                <img src="" alt="img-noticia">
            </div>
            <div class="item">
                <div class="overlay-img">Titulo da noticia</div>
                <img src="" alt="img-noticia">
            </div>
            <div class="item">
                <div class="overlay-img">Titulo da noticia</div>
                <img src="" alt="img-noticia">
            </div>
            <div class="item">
                <div class="overlay-img">Titulo da noticia</div>
                <img src="" alt="img-noticia">
            </div>
        </div>
      </div>
    </div>
    

    <section class="noticias-principais">
        {% if query %}
            <h1 class="titulo-principal">Resultados da pesquisa para: "{{ query }}"</h1>
        {% else %}
            <h1 class="titulo-principal">Últimas Notícias</h1>
        {% endif %}

        <div class="lista-noticias {% if not query %}ultimas-noticias-scroll{% endif %}">
            
            {% for noticia in noticias %}
                <article class="noticia-card">
                    <h2 class="noticia-card-titulo">
                        <a href="{% url 'jornal:pagina_noticias' noticia.slug %}">{{ noticia.titulo }}</a>
                    </h2>
                    <p class="noticia-card-resumo">{{ noticia.resumo }}</p>
                    <a href="{% url 'jornal:pagina_noticias' noticia.slug %}" class="noticia-card-link">Leia mais</a>
                </article>
            {% empty %}
                {% if query %}
                    <p>Nenhuma notícia foi encontrada para o termo "{{ query }}".</p>
                {% else %}
                    <p>Não há notícias disponíveis no momento.</p>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    {% if user.is_authenticated and noticias_recomendadas %}
    <section class="noticias-recomendadas" style="margin-top: 40px;">
        
        <h1 class="titulo-principal">Recomendadas para Você</h1>

        <div class="lista-noticias ultimas-noticias-scroll">
            
            {% for noticia in noticias_recomendadas %}
                <article class="noticia-card">
                    <h2 class="noticia-card-titulo">
                        <a href="{% url 'jornal:pagina_noticias' noticia.slug %}">{{ noticia.titulo }}</a>
                    </h2>
                    <p class="noticia-card-resumo">{{ noticia.resumo }}</p>
                    <a href="{% url 'jornal:pagina_noticias' noticia.slug %}" class="noticia-card-link">Leia mais</a>
                </article>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    <script src="{% static 'scripts/index.js' %}"></script>
{% endblock %}