
{% extends 'layout.html' %}
{% block title %}
    {% if query %}
        Resultados para: {{ query }}
    {% else %}
        Jornal do Commércio
    {% endif %}
{% endblock %}
{% block content %}

    <section class="noticias-principais">
        {% if query %}
            <h1 class="titulo-principal">Resultados da pesquisa para: "{{ query }}"</h1>
        {% else %}
            <h1 class="titulo-principal">Últimas Notícias</h1>
        {% endif %}

        <div class="lista-noticias {% if not query %}ultimas-noticias-scroll{% endif %}">
            
            {% for noticia in noticias %}
                <article class="noticia-card">
                    <h2 class="noticia-card-titulo">
                        <a href="{% url 'jornal:pagina_noticias' noticia.slug %}">{{ noticia.titulo }}</a>
                    </h2>
                    <p class="noticia-card-resumo">{{ noticia.resumo }}</p>
                    <a href="{% url 'jornal:pagina_noticias' noticia.slug %}" class="noticia-card-link">Leia mais</a>
                </article>
            {% empty %}
                {% if query %}
                    <p>Nenhuma notícia foi encontrada para o termo "{{ query }}".</p>
                {% else %}
                    <p>Não há notícias disponíveis no momento.</p>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    {% if user.is_authenticated and noticias_recomendadas %}
    <section class="noticias-recomendadas" style="margin-top: 40px;">
        
        <h1 class="titulo-principal">Recomendadas para Você</h1>

        <div class="lista-noticias ultimas-noticias-scroll">
            
            {% for noticia in noticias_recomendadas %}
                <article class="noticia-card">
                    <h2 class="noticia-card-titulo">
                        <a href="{% url 'jornal:pagina_noticias' noticia.slug %}">{{ noticia.titulo }}</a>
                    </h2>
                    <p class="noticia-card-resumo">{{ noticia.resumo }}</p>
                    <a href="{% url 'jornal:pagina_noticias' noticia.slug %}" class="noticia-card-link">Leia mais</a>
                </article>
            {% endfor %}
        </div>
    </section>
    {% endif %}

{% endblock %}