{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GENUS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <aside class="menu" id="menu">
        <div>
            <button onclick="closeMenu()">
                <i><img src="{% static 'assets/icons/x.png' %}" alt="Fechar-Menu"></i>
            </button>
        </div>
        
        <ul style="list-style: none; padding: 20px; font-size: 1.2em;">
            <li style="margin-bottom: 15px;">
                <a href="{% url 'jornal:favoritos' %}" style="text-decoration: none; color: #f333;">Noticias Favoritas</a>
            </li>
            <li style="margin-bottom: 15px;">
                <a href="{% url 'aval:feedback' %}" style="text-decoration: none; color: #f333;">Feedback</a>
            </li>
        </ul>
    </aside>
    <div class="overlay" id="overlay"> </div>
        <header>
            <nav class="nav-uol">
                <img src="{% static 'assets/imgs/Logo-UOL.png' %}" alt="Logo-UOL">
            </nav>
            <div>
                <nav class="nav-jc">
                    <a href="{% url 'jornal:index' %}"><img src="{% static 'assets/imgs/Logo-JC.png' %}" alt="Logo-JC"></a>
                    <div>
                        <button onclick="openSearch()" id="openSearchButton"> <i class="search-adjust"> <img src="{% static 'assets/icons/search.png' %}" alt="serach-icon"></i></button>
                        <button class="menu-button" id="menuButton" onclick="openMenu()">
                            <div></div>
                            <div></div>
                            <div></div>
                        </button>
                        {% if user.is_authenticated %}
                            <a href="{% url 'jornal:gamificacao' %}"><img src="{% static 'assets/imgs/Arvore-3.png' %}" class="gamificacao-icon" alt="Gamificacao"></a>
                            
                            <a href="{% url 'jornal:configuracoes_conta' %}">
                                <i>
                                    {% if user.profile.foto %}
                                        <img src="{{ user.profile.foto.url }}" alt="user-pic" class="icon-perfil" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
                                    {% else %}
                                        <img src="{% static 'assets/icons/Avatar.png' %}" alt="user-pic" class="icon-perfil">
                                    {% endif %}
                                </i>
                            </a>
                        
                        {% else %}
                            <a href="{% url 'login' %}"><i><img src="{% static 'assets/icons/Avatar.png' %}" alt="Perfil-icon" class="icon-perfil"></i></a>
                        {% endif %}
                    </div>

                </nav>
                
                <div class="div-pesquisa" id="div-pesquisa" style="flex-direction: column;">
                    
                    <form method="GET" action="{% url 'jornal:index' %}" style="width: 100%;">
                        <section>
                            <button type="submit" class="pesquisar"><i class="search-adjust"><img src="{% static 'assets/icons/search.png' %}" alt="pesquisar"></i></button>
                            <input type="text" name="q" placeholder="pesquise aqui" id="searchInput">
                        </section>
                    </form>
                    
                    <div style="text-align: center; padding-top: 15px;">
                        <a href="{% url 'jornal:filtrar_por_genero' %}" class="reset-button" style="text-decoration: none; font-size: 0.9em;">
                            Filtrar Notícias
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            {% block content %}

            {% endblock %}
        </main>

        <footer>
        </footer>
    
    <script src="{% static 'scripts/layout.js' %}"></script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>